openai
python-dotenv
fastapi
uvicorn[standard]
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dateutil
dateparser
piper-tts
pygame
pyaudio
webrtcvad
pvporcupine
scipy
playwright
